@media (max-width: 1250px ) {

}

@media (max-width: 1024px) {


}
@media (max-width: 767px) {
  header{
    padding-top: 30px;

    background-color: $bg-color1;
    .header-wrapper{
      background-color: $header-color;

      nav{
        display: flex;
        justify-content: center;



        li{
          list-style: none;
          padding: 20px 15px;
          &:hover{
            background-color: $hover-color;

          }

          a{
            color: white;
            text-decoration: none;
            font-size: x-small;
            font-weight: 600;



          }
        }
      }
    }

  }

}
